// *************************************
//
// # jigsass-utils-type style guide generator
// -> It is a best practice for JigSass modules to
//    not automatically generate css and documentation
//    on `@import`. Please use this file to enable css
//    (and comments) generation.
//
//    Files in `sgSrc/assets` will be available
//    for use in the style guide
//
// *************************************

@charset 'UTF-8';

// --------------------
// Dependencies
// --------------------
@import '../node_modules/jigsass-tools-maps/scss/index';
@import '../node_modules/jigsass-tools-mq/scss/index';
@import '../node_modules/jigsass-tools-typography/scss/index';
@import '../node_modules/jigsass-tools-strings/scss/index';
@import '../node_modules/jigsass-tools-bidi/scss/index';
@import '../node_modules/jigsass-tools-selectors/scss/index';





// --------------------
// Styles
// --------------------

$jigsass-sizes: map-merge(
  $jigsass-sizes,
  (
    rhythm-unit: (
      default: 6px,
      large: 7px,
    ),

    body: (
      default: 16px,
      large: 18px,
    ),
  )
);

$jigsass-font-stacks: (
  sans-serif: (helvetica, arial, sans-serif),
  serif: (georgia, 'times new roman', serif)
);

@include jigsass-util(u-type, $modifier: zeta);
@include jigsass-util(u-type, $modifier: epsilon);
@include jigsass-util(u-type, $modifier: delta);
@include jigsass-util(u-type, $modifier: gamma);
@include jigsass-util(u-type, $modifier: beta);
@include jigsass-util(u-type, $modifier: alpha);

@include jigsass-util(u-fs, $modifier: i);
@include jigsass-util(u-fs, $modifier: o);
@include jigsass-util(u-fs, $modifier: n);

@include jigsass-util(u-fw, $modifier: 400);
@include jigsass-util(u-fw, $modifier: 700);

@include jigsass-util(u-ff, $modifier: serif);
@include jigsass-util(u-ff, $modifier: sans-serif);


@import 'index.scss';



// --------------------
// Demo Styles
// --------------------

$jigsass-mdcss-brand-color: #09a5d9;
@include jigsass-set-baseline;

html {
  font-family: sans-serif;
}
figure,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}


// --- Utility classes --- //
.u-as--4 {
  > * + * {
    margin-top: 4rem;
  }
}
.u-mb--4 {
   margin-bottom: 4rem;
}
.u-mt--4 {
   margin-top: 4rem;
}
